<div class="layout">
    <table class="table">
        <thead>
        <tr style="height: 80px">
            <th><span class="title title--small"></span></th>
            {% for date in header %}
                <th><span class="title title--small" style="transform: rotate(290deg);
              display: inline-block; white-space: nowrap;">{{ date | l_date: "%b %d", trmnl.user.locale }}</span></th>
            {% endfor %}
            <th><span class="title title--small" style="transform: rotate(290deg);
              display: inline-block; white-space: nowrap;"><b>Streak</b></span></th>
            <th><span class="label label--small" style="transform: rotate(290deg);
              display: inline-block; white-space: nowrap;">Skips%</span></th>
        </tr>
        </thead>

        <tbody>
        {% for habit in habits %}
            <tr style="height:30px;">
                <td><span class="label">{{ habit.name }}</span></td>
                {% for status in habit.statuses %}
                    <td style="text-align: center; vertical-align: middle;">
                      <span class="status" style="display: inline-block;">
                        {% if status == "in_progress" %}
                            <img style="padding-top: 3px;"
                                 width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/hourglass--v1.png"
                                 alt="hourglass"/>
                        {% elsif status == "completed" %}
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/fire-element--v1.png"
                                 alt="fire-element--v1"/>
                        {% elsif status == "skipped" %}
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/arrow.png"
                                 alt="arrow--v1"/>
                        {% elsif status == "failed" %}
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/1A1A1A/delete-sign.png"
                                 alt="delete-sign"/>
                        {% else %}
                            <img width="10" height="10"
                                 src="https://img.icons8.com/material-rounded/24/1A1A1A/full-stop.png"
                                 alt="full-stop"/>
                        {% endif %}
                      </span>
                    </td>
                {% endfor %}
                <td style="line-height: 1;">
                  <span class="label label--inverted"
                        style="display: inline-block;
                               padding-top: 5px;
                               margin-left: 10px;
                               font-weight: bold;">
                    {{ habit.streak }}
                  </span></td>
                <td style="vertical-align: middle;">
                  <span class="label label--small"
                        style="display: inline;
                        padding-left: 10px;">
                    {{ habit.skipped_percentage }}%
                  </span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="title_bar">
    <span class="title">habitify.me (Unofficial)</span>
    <span class="instance"></span>
</div>

